APP_NAME="Account Easy"
APP_ENV=production
APP_KEY=base64:d2l0aEdvb2RLZXlGb3JMYXJhdmVsQXBwMTIzNDU2Nzg=
APP_DEBUG=false
APP_URL=https://accounting-production-ea9f.up.railway.app

LOG_CHANNEL=stack
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=${MYSQLHOST}
DB_PORT=${MYSQLPORT}
DB_DATABASE=${MYSQLDATABASE}
DB_USERNAME=${MYSQLUSER}
DB_PASSWORD=${MYSQLPASSWORD}

CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_CONNECTION=sync
FILESYSTEM_DISK=public

CLOUDINARY_CLOUD_NAME=dsm6ntye9
CLOUDINARY_API_KEY=135417221692311
CLOUDINARY_API_SECRET=3l8k8RQYtiz8RqmqGMj_LGWQAfU
CLOUDINARY_URL=cloudinary://135417221692311:3l8k8RQYtiz8RqmqGMj_LGWQAfU@dsm6ntye9

DEV_USERNAME=developer
DEV_PASSWORD=AccountEasy@Dev2025

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=587
MAIL_USERNAME=your_username
MAIL_PASSWORD=your_password
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=noreply@yourdomain.com
MAIL_FROM_NAME="Account Easy"
